@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=IM+Fell+English:ital@1&display=swap');
*{
    box-sizing: border-box;
}

html, body{
    margin:0;
    padding: 0;
    font-family: 'Bilbo', cursive;
}
.nav-bar{
    width: 100%;
    height: 7rem; 
    background-color:black;
    text-align: center;
    justify-content: center;
    display: flex;
    
}
.nav-bar-image{
    margin-left: 60rem;
}
.nav-bar > .nav-bar-text{
    float: left;
    margin-top: 2.5rem;
    /* margin-left: 40%; */
    font-size: 4rem;
   
    color: yellow;
    
    
}
.nav-bar-text{
    text-align: center;
    position: absolute;

}
.main-content{
    margin: auto;
    width: 100%;
    max-width: 600px;
    margin-top: 2rem;
    text-align: center;
}
textarea{
   width: 18rem;
   min-height: 5rem;
   resize: none;
   border: 0.01rem solid black;
   font-family: 'IM Fell English', serif;
   font-size: 1.5rem;
}

.nav-bar > .minion-image{
    height: 40vh;
    /* margin-left: 0; */
    float:right;
    
}
.footer-about{
    width: 100%;
    height: 10rem; 
    bottom: 0rem;
    background-color:yellow;
    position: absolute;
}
.btn{
    width: 14rem;
    height: 4rem;
    margin-top: 1rem;
    background-color: yellow;
    font-size: 1.5rem;
    font-family: 'Sonsie One', cursive;
    border: 0.01rem solid black;
}
.btn:hover{
    background: black;
    color: yellow;
    transition: 0.2s;
}

.hanging-minion-img{
    margin-top:10rem;
    width: 6rem;
    position: absolute;
}
.column{
    text-align: center;
}
